@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@page {
  margin-top: 3cm;
  size: A4;

  @bottom-right {
    content: "Page " counter(page);
  }

  @bottom-left {
    color: #808080;
    content: "Copyright © 2024 Coding Minds, Inc. All Rights Reserved https://codingmind.com/";
  }

  @top-left {
    background: url(codingmindlogo.svg) no-repeat bottom;
    background-size: 4cm;
    content: "";
    width: 4cm;
  }
}

@page cover {
  @bottom-center {
    content: "";
  }

  @bottom-right {
    content: "";
  }
}

html {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  string-set: heading-name content();
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
  string-set: heading content();
}

h3, h4 {
  margin-top: 2rem;
}

h2 + h3, h3 + h4 {
  margin-top: inherit;
}

ul {
  page-break-inside: avoid;
}

td, th {
  padding: 0.5rem 1rem 0;
}

td:first-child, th:first-child {
  padding-left: 0;
}

a {
  color: black;
  text-decoration: underline;
}

table {
  width: 100%; /* Make the table fill the whole width of the page */
  border-collapse: collapse;
  border: 2px solid #CCCCCC; /* Light grey border */
  margin-bottom: 20px; /* Add margin between tables */
  table-layout: fixed; /* Ensure equal width columns */
}

td, th {
  border: 1px solid #CCCCCC; /* Apply border to table cells */
  padding: 8px; /* Add padding to cells for better spacing */
}

/* Adjust padding for the first column */
td:first-child,
th:first-child {
  padding-left: 10px; /* Add left padding to the first column */
}

/* Apply default paragraph indentation */
p {
  text-indent: 2em; /* Adjust the indentation value as needed */
}
